<% include ../partials/header %>

<script>
    $(document).ready(function(){
       $("#tipo").change(function () {
            $("#tipo option:selected").each(function () {
                seleccion=$(this).val();
                $.post("/categories/list", { seleccion: seleccion }, function(data){
                    $("#category").html(data);
                });            
            });
       });
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <h3>Editar Subcategoría</h3>  
            <br>
        </div>
        <form action="/subcategories/<%= subcategory._id %>?_method=PUT" method="POST" class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-4">
                    <input class="form-control" id="name" type="text" name="subcategory[name]" value="<%= subcategory.name %>">
                </div>
                <label for="tipo" class="col-sm-2 control-label">Tipo:</label>
                <div class="col-sm-4">
                    <select id="tipo" class="form-control" name="subcategory[sign]">
                        <% var gasto = subcategory.sign < 0 ? "selected" : ""; %>
                        <% var ingreso = gasto === "" ? "selected" : ""; %>
                        <option value="-1" <%= gasto %>>Gasto</option>
                        <option value="1" <%= ingreso %>>Ingreso</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="category" class="col-sm-2 control-label">Categoría:</label>
                <div class="col-sm-10">
                    <select id="category" class="form-control" name="subcategory[category]">
                        <% var categoria = "", valor = "" %>
                        <% categories.forEach(function(category){ %>
                            <% valor = subcategory.category ? subcategory.category.name : "null" %>
                            <% categoria = category.name === valor ? "selected" : ""; %>
                            <% categoria = categoria === "null" ? "selected" : categoria; %>
                            <option value="<%= category._id %>" <%= categoria %>><%= category.name %></option>
                        <% }); %>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10 text-right">
                    <input type="submit" name="guardar" class="btn btn-success" value="Guardar Cambios">
                    <a href="/subcategories/p=1/s=." class="btn btn-warning">Cancelar</a> 
                </div>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer %>